node_modules
/prod
.tmp
.tmp*
styles-*
.sass-cache
app/css
docs/generated
.DS_Store
.idea
*.log
*.iml
*.orig
app/scripts/config.js
app/scripts/bundles
core/config/**/developer.js
/mock/serve
/mock/data
/mock/swagger/contract
**/sprites/*.png
sitespeed-result
mock/contract/data/json
core/sass/helpers/_generated-sprites.scss
/e2e.txt
*.sublime-*
/app/css
/app/assets/images/generated
/core/views/default/pages/hub/links.html
jspm_components
/test-results/