// Index CSS
// --------------------------------------------------

// Config
$jacket: critical-css, non-critical, ie8 '.lt-ie9';

$browser: ie8;
$channel: channel-default;

@import '../../../import';

@import '../../modules/hub';