// Utility classes

  .clearfix {
    @extend %clearfix;
  }

  .visually-hidden {
    @extend %visuallyhidden;
  }

  .pull-right {
    float: right !important;
  }

  .pull-left {
    float: left !important;
  }

  .row-no-padding {
    [class*='col-'] {
      padding-left: 0 !important;
      padding-right: 0 !important;
    }
  }

  .hidden {
    display:none;
  }

  // Alignment
  .align--right { text-align: right; }
  .align--left { text-align: left; }

  // Borders
  .border-btm--drk { border-bottom: 1px solid $color__brand--dark-grey; }
  .border-top--drk { border-top: 1px solid $color__brand--dark-grey; }
  .border-btm--lgt { border-bottom: 1px solid $color__brand--light-grey; }
  .border-top--lgt { border-top: 1px solid $color__brand--light-grey; }

  // Content
  .pseudo-quote { quotes: '\201c' '\201d'; }
  .pseudo-quote:before { content: open-quote; }
  .pseudo-quote:after { content: close-quote; }
  .pseudo--break:after, .pseudo--break:before {
    content: '\A';
    white-space: pre;
  }

  // Lists
  .list--no-bullets {
    list-style: none;
    margin-left: 0;
    padding-left: 0;
  }

  .horizontal-list {
    li {
      float: left;
    }
  }

  .margin-btm {
    @include rem(margin-bottom, 15px);
  }

  // Solid line
  .pipe--left:after,
  .pipe--right:after { content: ''; height: 100%; position: absolute; top: 0; width: 2px; border-right: solid 1px $color__brand--light-grey; }
  .pipe--left:after { left: 0; }
  .pipe--right:after { right: 0; }
  .pipe--rel:after { position: relative; }

  // Tones (for highlighting text)
  .tone--highlight,
  strong {
    font-family: helvetica-medium, Helvetica, Arial, sans-serif;
    font-weight: normal;
    color: $color__brand--black;
  }
